apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  labels:
    app: myapp
data:
  # gRPC
  GRPC_HOST: "0.0.0.0"
  GRPC_PORT: "{{.Values.Gateway.gRPCPort}}"

  # REST
  REST_HOST: "0.0.0.0"
  REST_PORT: "{{.Values.All.targetPort}}"
  REST_EVENT_SERVICE_HOST: "http://{{.Values.EventService.DNS}}:{{.Values.EventService.RestPort}}"
  LLM_MODEL_HOST: "http://{{.Values.LLMBaseGPTService.DNS}}:{{.Values.LLMBaseGPTService.RestPort}}"
  ANALYSE_SERVICE_HOST: "http://{{.Values.AnalyseService.DNS}}:{{.Values.AnalyseService.RestPort}}"



  # Kafka
  KAFKA_HOST: "{{.Values.Kafka.KafkaHost}}-kafka-bootstrap.kafka.svc.cluster.local"
  KAFKA_PORT: "9092"
  KAFKA_PARTITION: "1"
  KAFKA_TOPIC: "logs"
  KAFKA_ACKS: "0"   # -1=all, 0=fire&forget, 1=leader
  KAFKA_GROUP_ID: "ev-t"

  # Redis
  REDIS_HOST: "redis-svc.default.svc.cluster.local"
  REDIS_PORT: "6379"

  # ClickHouse
  CH_HOST: "{{.Values.Clickhouse.CHHost}}.clickhouse.svc.cluster.local"
  CH_PORT: "9000"
  CH_DATABASE: "default"
  CH_USER: "default"

  # Логирование
  LOG_LEVEL: "DEV"

  # Batch settings
  CH_BATCH_TICK: "500ms"   # Go ParseDuration (например "1s", "500ms")
---
apiVersion: v1
kind: Secret
metadata:

  name: app-secrets
  labels:
    app: myapp
type: Opaque
stringData:
  PLACEHOLDER: ""
  CH_PASSWORD: ""
  GPT_TOKEN: ""